.howItWorksCardsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 43px;

    .card {
        padding: 30px 20px 80px 20px;
        border-radius: 15px;
        transition: all 0.3s ease;

        .image {
            filter: invert(15%) sepia(87%) saturate(3230%) hue-rotate(193deg) brightness(97%) contrast(98%);
            padding-bottom: 20px;
        }

        h3 {
            font-weight: 600;
            font-size: 22px;
            color: var(--color-black);
            padding-bottom: 10px;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: var(--color-black-50-alpha);
        }

        &:hover {
            background: var(--color-primary);
            transform: scale(1.05);

            .image {
                filter: brightness(0) invert(1);
            }

            h3 {
                color: var(--color-white);
            }

            p {
                color: var(--color-white);
            }
        }
    }
}

@media screen and (max-width:768px) {
    .howItWorksCardsContainer {
        flex-direction: column;
        gap: 20px;

        .card {
            padding: 15px 10px 28px 10px;
            border-radius: 10px;
        }
    }
}