.mostTrendingCardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 25px;

    .card {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #0000001A;
        transition: all 0.3s ease;

        img {
            width: 100%;
            padding-bottom: 16px;
        }

        span {
            font-weight: 600;
            font-size: 18px;
            color: var(--color-primary);
        }

        h3 {
            font-weight: 600;
            font-size: 18px;
            line-height: 29px;
            color: var(--color-black);
            padding-bottom: 38px;
        }

        div {
            display: flex;
            align-items: center;
            gap: 11px;

            img {
                width: 24px;
                padding: 0;
            }

            p {
                font-size: 14px;
                line-height: 20px;
                color: var(--color-black);
            }
        }

        &:hover {
            background: var(--bg-primary);
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width:768px) {
    .mostTrendingCardsContainer {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        column-gap: 0;

        .card {
            padding: 16px;
            border-radius: 6px;
            box-shadow: 0px 0px 10px 0px #0000001A;

            img {
                padding-bottom: 14px;
            }

            h3 {
                font-size: 16px;
                line-height: 27px;
                padding-bottom: 72px;
            }

            div {
                display: flex;
                align-items: center;
                gap: 16px;

                img {
                    width: 18px;
                }

                p {
                    font-size: 12px;
                }
            }

            &:hover {
                transform: scale(1.03);
            }
        }
    }
}