.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-primary);
    padding: 17px 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .logo img {
        width: 68px;
    }

    .linksContainer {
        display: flex;
        align-items: center;

        .navLinks {
            list-style: none;
            display: flex;
            gap: 30px;
            text-align: center;

            .link {
                text-decoration: none;
                color: var(--color-black);
                font-weight: 500;
                font-size: 16px;
                transition: all ease 0.1s;

                &.activeLink {
                    font-weight: 700;
                    color: var(--color-primary);
                    border-bottom: 4px solid var(--color-primary);
                }

                &:hover {
                    font-weight: 700;
                    color: var(--color-primary);
                    border-bottom: 4px solid var(--color-primary);
                }
            }
        }
    }

    .btn {
        background: var(--color-primary);
        color: var(--color-white);
        text-decoration: none;
        padding: 13px 20px;
        border-radius: 6px;
        transition: all ease 0.3s;
    }

    .mobileLoginBtn {
        display: none;
    }

    .menuIcon {
        display: none;
        cursor: pointer;
        background: none;
        border: none;
    }

    .linksContainer {
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 768px) {

    .navbar {
        height: 65px;
        padding: 0 20px;
        z-index: 1000;

        .logo img {
            width: 45px;
        }

        .menuIcon {
            display: block;
        }

        .linksContainer {
            position: absolute;
            top: 65px;
            left: 0;
            right: 0;
            background: var(--color-white);
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            padding: 1.5rem 0;
            opacity: 0;
            pointer-events: none;
            transform: translateX(-100%);
        }

        .linksContainer.active {
            opacity: 1;
            pointer-events: auto;
            transform: translateX(0);
            height: 100vh;
        }

        .navLinks {
            flex-direction: column;
        }

        .desktopLoginBtn {
            display: none;
        }

        .mobileLoginBtn {
            display: block;
        }
    }
}