/* .containerTabs {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    padding: 0.5rem 0;

}

.tabs::-webkit-scrollbar {
    height: 0;
}

.tab {
    flex: 0 0 auto;
    background: #f5f5f5;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    color: #333;
}



.active {
    background: #025595;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1, 1fr));
    gap: 1rem;
    justify-content: flex-start;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.03);
}
 */


.containerTabs {
    width: 100%;

    .tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 50px;
        padding-bottom: 40px;

        .tab {
            font-weight: 400;
            font-size: 18px;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
            color: var(--color-black);
            background: transparent;
            padding-bottom: 15px;
            border-bottom: 2px solid transparent;

            &:hover {
                color: var(--color-primary);
                border-color: var(--color-primary);
            }

            &.active {
                color: var(--color-primary);
                border-color: var(--color-primary);
            }
        }
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        column-gap: 31px;

        div {
            position: relative;
            border-radius: 5px;

            div {
                position: absolute;
                left: 14px;
                top: 14px;
                display: flex;
                gap: 7px;

                span {
                    font-weight: 400;
                    font-size: 12px;
                    text-align: center;
                    background: var(--bg-color-black-40-alpha);
                    color: var(--color-white);
                    border: 1px solid var(--color-white);
                    border-radius: 5px;
                    padding: 6px 12px;

                    &:last-child {
                        padding: 6px;
                    }
                }
            }

            .image {
                width: 100%;
            }

        }

    }
}

@media screen and (max-width:768px) {
    .containerTabs {

        .tabs {
            gap: 30px;

            width: calc(100vw - 40px);
            overflow: auto;

            &::-webkit-scrollbar {
                height: 0;
            }

            .tab {
                font-size: 16px;
                padding-bottom: 7px;
                flex-shrink: 0;
            }
        }

        .gallery {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
        }
    }
}